---
import { Image } from "astro:assets";
import miniProjects from "../collection/miniProjects.json";

interface Project {
  name: string;
  description: string;
  image: string;
  alt: string;
  url: string;
}

const mProjects: Project[] = miniProjects;
---

<h2 class="text-lightBlue text-2xl font-bold mx-auto mb-11">Websites</h2>
<div class="carousel carousel-center rounded-box max-w-[81.5rem] mx-auto">
  {
    mProjects.map((project) => (
      <div class="carousel-item mx-4">
        <a href={project.url} target="_blank">
          <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
              <Image src={project.image} alt={project.alt} width={400} height={400} />
            </figure>
            <div class="card-body bg-lightBlue text-navyBlue">
              <h2 class="card-title">{project.name}</h2>
              <p>{project.description}</p>
            </div>
          </div>
        </a>
      </div>
    ))
  }
</div>

<h2 class="text-lightBlue text-2xl font-bold mx-auto my-11">Mini Projects</h2>
<div class="carousel carousel-center rounded-box max-w-[81.5rem] mx-auto mb-11">
  {
    mProjects.map((project) => (
      <div class="carousel-item mx-4">
        <a href={project.url} target="_blank">
          <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
              <Image src={project.image} alt={project.alt} width={400} height={400} />
            </figure>
            <div class="card-body bg-lightBlue text-navyBlue">
              <h2 class="card-title">{project.name}</h2>
              <p>{project.description}</p>
            </div>
          </div>
        </a>
      </div>
    ))
  }
</div>
